<div class="submit_box">
  <ul>
    <form action="/new_meet" method="post">
      <label for="task_name">Name:</label>
      <div class="button"><input type="text" id="name" name="name" required></div><br />
      <label for="task_name">Location:</label>
      <div class="button"><input type="text" id="location" name="location" required></div><br />
      <label for="task_name">Description:</label>
      <div class="button"><input type="text" id="description" name="description" required></div><br />
      <div class="button"><input type="submit" value="Submit" color="black"></div>
    </form>
  </ul>
</div>
